# Operators

### 1. Arithmetic Operators

In [3]:
# Addition (+)
x = 20
y = 4
print (x + y)

24

In [7]:
# Subtraction (-)
print (x - y)

16

In [9]:
# Multiplication (*) - An asterisk is used
print (x * y)

80

In [11]:
# Division (/) - A forward slash is used
print (x / y)

5.0

In [17]:
# Floor Division (//) - When this is used, should the quotient come with a whole number then decimals, the drcimals are ignored and just the whole number is used.
print (x // y)

42

In [19]:
# Modulo (%) - The modulo is the opposite of the floor division. It gives only the remainder left after the division is done)
print (x % y)

6

In [23]:
# Exponential (**) - Double asterisks are used. It makes the second variable the power of the first variable
x = 5
y = 3
print (x ** y)

125

### 2. Comparison Operators
The outputs are booleans (True / False)

In [29]:
# Greater than (>)
x = 54
y = 77
print (x > y)

False

In [31]:
# Less than (<)
print (x < y)

True

In [33]:
# Equal to (==)
x == y

False

In [35]:
# Greater than or equal to (>=)
x >= y

False

In [37]:
# Less than or equal to (<=)
print (x <= y)

True

In [39]:
# Not Equal to (!=)
print (x != y)

True

### 3. Logical Operators

In [43]:
# AND (Both conditions have to be true for the output to be true, output is false if one condition is false)
x = 32
y = 21
print (x > 30 and y < 25)

True

In [45]:
# OR (If any of the conditions is true, the output will be true)
print (x < 30 or y < 25) 
# Output is true because y is less than 25 even though x is not less than 30)

True

In [49]:
# NOT (Usually negates the condition set)
not (x < 32)
# The condition is supposed to be false because x is equal to 32 not less than. The "not" operator negates the false output value making it true.

True

### 4. Assignment Operator

In [54]:
x = 55 
# X is assigned the value 55

In [58]:
print (x)

55

#### Ways of working on assignment operator

In [81]:
# x =+ value (Assigns the new value to x)
x =+ 78
# This assigns 78 as the new value of x
print (x)

78

In [83]:
# x += value (This adds the new value to the existing value of x)
x += 5
# This adds 5 to 78 (the existing value of x)
print (x)

83

In [91]:
# x =- value
x =- 23
# This assigns -23 as the new value of x
print (x)

-23

In [93]:
# x -= value
x -= 3
# This subtracts 3 from -23 (-23-3) = -26
print (x)

-26

In [103]:
# Multiplication assignment
x = 10
x *= 3     # x becomes 30 (works!)
# x =* 3   # SyntaxErr
print (x)

30

In [105]:

# Division assignment
x = 10
x /= 2     # x becomes 5.0 (works!)
# x =/ 2   # SyntaxError!
print (x)

5.0

In [107]:
# Floor division assignment
x = 10
x //= 3    # x becomes 3 (works!)
# x =// 3  # SyntaxError!
print (x)

3

In [109]:
# Exponentiation assignment
x = 2
x **= 3    # x becomes 8 (works!)
# x =** 3  # SyntaxError!
print (x)

8

### 5. Bitwise Operations
It references integers in binary levels (0's and 1's). The output has to be in binary figures.

6 Operators to be used: ( &, |, ^, ~, <<, >> )

In [121]:
# AND (&)
x = 55 # Binary: 00110111
y = 70  # Binary: 01000110

# 55: 0 0 1 1 0 1 1 1
# 70: 0 1 0 0 0 1 1 0
# --- -----------------
result = x & y 
# 55 & 70: 0 0 0 0 0 1 1 0  = 6
# Output is 6
print (result)

6

In [123]:
# OR (|) 
x = 55 # Binary: 00110111
y = 70  # Binary: 01000110

# 55: 0 0 1 1 0 1 1 1
# 70: 0 1 0 0 0 1 1 0
# --- -----------------
result = x | y 
# 55 | 70: 0 1 1 1 0 1 1 1  = 119
# Output is 119
print (result)

119

In [128]:
#Exclusive OR (^) 
x = 55 # Binary: 00110111
y = 70  # Binary: 01000110

# 55: 0 0 1 1 0 1 1 1
# 70: 0 1 0 0 0 1 1 0
# --- -----------------
result = x ^ y 
# 55 ^ 70:  0 1 1 1 0 0 0 1  = 113
# Output is 113
print (result)

113

In [130]:
# NOT Operator (~) - This negates (flips) all the binary digits of the value
x = 55 # Binary: 00110111
result = ~x
# ~55 : 1 1 0 0 1 0 0 0 = -56
# Output is -56
print (result)

-56

In [137]:
# Left Shift (<<) - This operator shift the bits of a number to the left by a specified number of positions.
x = 55 # Binary: 00110111
result = x << 2
# Left shift adds zeros to the right and effectively multiplies by 2ⁿ.

#55:     0 0 1 1 0 1 1 1
#        ← ← ← ← ← ← ← ←  (shift to left by 2) or remove first two digits on the left. 
#        55 << 2:   1 1 0 1 1 1 0 0  (add 2 zeros on the right) = 220
# Output is 220
print (result)

220

In [135]:
# Right Shift (>>) - This operator shift the bits of a number to the right by a specified number of positions.
x = 55 # Binary: 00110111
result = x >> 2
# Right shift adds zeros to the left and effectively multiplies by 2ⁿ.

#55:     0 0 1 1 0 1 1 1
#        → → → → → → → →  (shift to right by 2) or remove last 2 digits on the right
#        55 >> 2:   0 0 0 0 1 1 0 1 (add 2 zeros on the left) = 13
# Output is 13
print (result)

13

### 6. Membership Operators
They check whether a value exists in a sequence or collection (strings, lists, tuples, sets, dictionaries)

Has 2 operators: (in, not in). Output is a boolean

In [2]:
a = [1, 2, 3, 4, 5]

In [4]:
# in - Checks whether a value exist in a sequence
print ( 2 in a)
# There 2 in the list a, so the output is true

True

In [6]:
print (8 in a)
# 8 is not in the list a so the output is false

False

### 7. Identity Operators
They check if two objects are the same objects in memory with equal values. Compares the memory occupied by the values not the values themselves 

Has 2 operators: (is, is not)

In [12]:
a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 5]

print ( a is b)
# The output is false since the memory occupied by a is not the same as the memory occupied by b

False

In [14]:
print (a is not b)
# The output is true since the memory occupied by a is not the same as the memory occupied by b

True